<style id="badge-template-style">
    .name {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 10.2cm;

        font-family: Bahnschrift, Arial, sans-serif;
        font-size: 1.5cm;
        font-weight: 700;
        width:13.85cm;
        word-wrap: break-word;
    }

    .id {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 7.0cm; 

        font-family: Bahnschrift, Arial, sans-serif;
        font-size: 1.1cm;
        font-weight: 400;
    }

    .country {
        border: 0.2mm solid black;
        position: absolute;
        height: 1cm;
        width: auto;
        bottom: 4cm;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .country-name {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 2.0cm; 

        font-family: Bahnschrift, Arial, sans-serif;
        font-size: 1.1cm;
        font-weight: 400;
    }

    .events {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0.0cm; 

        font-family: Arial, sans-serif;
        font-size: 1.1cm;
        font-weight: 400;
    }

</style>

<div id="badge-template">
    <div class="print-badge badge">
        <p class="wca-name name">Name</p>
        <p class="wca-id id">WCAID</p>
        <p class="wca-country-name country-name">Country</p>
        <img class="wca-country country" src="https://flagcdn.com/h80/au.png">     
        <p class="wca-events events"></p>   
    </div>
</div>