<style id="badge-template-style">
    .badge {
        background-size: contain;
    }

    .name {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 13.2cm;
        font-family: Bahnschrift, Arial, sans-serif;
        font-size: 1.8cm;
        font-weight: 500;
        width: 19cm;
        word-wrap: break-word;
    }

    .id {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 13.5cm;
        font-family: Bahnschrift, Arial, sans-serif;
        font-size: 0.6cm;
        font-weight: 400;
    }

    .country {
        border: 0.2mm solid black;
        position: absolute;
        height: 2cm;
        width: auto;
        bottom: 11cm;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .country-name {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 9.3cm;
        font-family: Bahnschrift, Arial, sans-serif;
        font-size: 0.7cm;
        font-weight: 400;
    }

    .events {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 6.7cm;
        font-family: Arial, sans-serif;
        font-size: 1.0cm;
        font-weight: 400;
    }

</style>

<div id="badge-template">
    <div class="print-badge badge background-image">
        <p class="wca-name name">Name</p>
        <p class="wca-id id">WCAID</p>
        <p class="wca-country-name country-name">Country</p>
        <img class="wca-country country" src="https://flagcdn.com/h80/au.png">     
        <p class="wca-events events"></p>   
    </div>
</div>