<style id="badge-template-style">
    .badge {
        border: 0.5mm dashed#606060;
        margin: -0.5mm;
    }

    .name-half {
        position:absolute;
        left:0mm;
        top:0mm;
        width:14.85cm;
        height:21cm;
        border-right: 0.50mm solid#606060;
        margin-right: -0.50mm;
        background-image: url("./images/badge-a6-book-default.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .schedule-half {
        position:absolute;
        right:0mm;
        top:0mm;
        width:14.85cm;
        height:21cm;
    }

    .name {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 5.1cm;
        font-family: Bahnschrift, Arial, sans-serif;
        font-size: 1.4cm;
        font-weight: 500;
        width: 13.85cm;
        word-wrap: break-word;
    }

    .id {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 4.5cm;
        font-family: Bahnschrift, Arial, sans-serif;
        font-size: 0.7cm;
        font-weight: 400;
    }

    .line {
        position: absolute;
        width: 12cm;
        bottom: 4.2cm;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .country {
        border: 0.2mm solid black;
        position: absolute;
        height: 1.4cm;
        width: auto;
        bottom: 3.08cm;
        margin-left: 3%;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .wca-schedule {
        border: 0.25mm solid #B0B0B0;
        margin: -0.25mm;

        position:absolute;
        left:10mm;
        top:25mm;
        width:12.85cm;
        height:auto;
    }

    .wca-schedule > tbody > tr:first-child > td {
        border: 0.12mm solid #B0B0B0;
        margin: -0.12mm;

        font-family: Arial, sans-serif;
        font-size: 0.4cm;
        font-weight: 500;
    }

    .wca-schedule > tbody > tr > td {
        border: 0.12mm solid #B0B0B0;
        margin: -0.12mm;

        font-family: Arial, sans-serif;
        font-size: 0.4cm;
        font-weight: 500;
    }

    .wca-schedule > tbody > tr > td.wca-schedule-header {
        font-family: Arial, sans-serif;
        font-size: 0.5cm;
        font-weight: 600;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .name-back {
        position: absolute;
        text-align: left;
        bottom: 18.5cm;
        left: 1.0cm;
        width: 12.5cm;
        font-family: Arial, sans-serif;
        font-size: 0.7cm;
        font-weight: 700;
        word-wrap: break-word;
    }

    .comp-id {
        position: absolute;
        right: 0.5cm;
        top: 0.0cm;
        text-align: right;

        font-family: Arial, sans-serif;
        font-size: 0.5cm;
        font-weight: 500;
        word-wrap: break-word;
    }
    
    .wca-live-image {
        position: absolute;
        height: 2.5cm;
        right: 0.5cm;
        bottom: 0.5cm;
    }

    .wca-live-message {
        position: absolute;
        text-align: right;
        bottom: 0.35cm;
        right: 3.3cm;
        width: 5cm;
        font-family: Arial, sans-serif;
        font-size: 0.5cm;
        font-weight: 500;
        word-wrap: break-word;
    }

</style>

<div id="badge-template">
    <div class="print-badge badge">
        <div class="name-half background-image">
            <p class="wca-name name">Name</p>
            <p class="wca-id id">WCAID</p>
            <img class="wca-country country" src="https://flagcdn.com/h80/au.png">        
        </div>
        <div class="schedule-half">
            <p class="wca-name name-back">Name</p>
            <p class="wca-comp-id comp-id">0</p>
            <table class="wca-schedule" cellspacing="0"></table>
            <span class="wca-live">
                <img class="wca-live-image" src="./images/oceanics-qrcode.png"/>
                <p class="wca-live-message">Live results and full schedule available on WCA Live</p>
            </span>
        </div>
    </div>
</div>