<style id="badge-template-style">
    .badge {
        border: 0.25mm dotted#B0B0B0;
        margin: -0.25mm;
    }

    .name-half {
        position:absolute;
        left:0mm;
        top:0mm;
        height:14.85cm;
        width:21cm;
        border-bottom: 0.50mm solid#B0B0B0;
        margin-bottom: -0.50mm;
        background-image: url("./images/badge-a4-3x3-default.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        transform-origin: 0% 0%;
        transform:rotate(90deg) translate(0cm, -29.7cm);
    }

    .schedule-half {
        position:absolute;
        left:0mm;
        top:0mm;
        width:14.85cm;
        height:21cm;
    }

    .name {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 2.1cm;
        width: 13.85cm;

        font-family: Arial, sans-serif;
        font-size: 1.2cm;
        font-weight: 700;
        word-wrap: break-word;
    }

    .id {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 1.0cm;

        font-family: Arial, sans-serif;
        font-size: 1.0cm;
        font-weight: 400;
    }

    .line {
        position: absolute;
        width: 12cm;
        bottom: 3.0cm;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .country {
        position: absolute;
        height: 1cm;
        width: auto;
        bottom: 0.8cm;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .wca-image {
        position: absolute;
        bottom: 0.65cm;
        left: 0.8cm;
        height: 2.0cm;
        width: auto;
    }

    .sca-image {
        position: absolute;
        bottom: 0.65cm;
        right: 0.8cm;
        height: 2.0cm;
        width: auto;
    }

    .wca-schedule {
        border: 0.25mm solid #B0B0B0;
        margin: -0.25mm;

        position:absolute;
        left:10mm;
        top:30mm;
        width:12.85cm;
        height:auto;
    }

    .wca-schedule > tbody > tr > td {
        border: 0.25mm solid #B0B0B0;
        margin: -0.25mm;

        font-family: Arial, sans-serif;
        font-size: 0.5cm;
        font-weight: 500;
    }

    .wca-schedule > tbody > tr > td.wca-schedule-header {
        font-family: Arial, sans-serif;
        font-size: 0.65cm;
        font-weight: 600;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .name-back {
        position: absolute;
        text-align: left;
        bottom: 17.5cm;
        left: 1.0cm;
        width:11.85cm;

        font-family: Arial, sans-serif;
        font-size: 0.8cm;
        font-weight: 700;
        word-wrap: break-word;
    }

    .comp-id {
        position: absolute;
        right: 1cm;
        top: 0.5cm;
        text-align: right;

        font-family: Arial, sans-serif;
        font-size: 0.5cm;
        font-weight: 500;
        word-wrap: break-word;
    }

</style>

<div id="badge-template">
    <div class="print-badge badge">
        <div class="schedule-half">
            <p class="wca-name name-back">Name</p>
            <p class="wca-comp-id comp-id">0</p>
            <table class="wca-schedule" cellspacing="0">
            </table>
        </div>
        <div class="name-half">
            <hr size="2mm" color="black" class="line"/>
            <p class="wca-name name">Name</p>
            <p class="wca-id id">WCAID</p>
            <img class="sca-image" src="./images/sca.png"/>
            <img class="wca-image" src="./images/wca.png"> 
            <img class="wca-country country" src="https://flagcdn.com/h80/au.png">      
        </div>
    </div>
</div>