---
title: About
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>

{% include header.html %}

{% include mainImage.html image="/images/headings/cubeBlur.jpeg" text="About" %}

<div class="container shadow">
    <div class="row">
        <div class="col-12 content">
            <h2>Hello!</h2>
            <p>
                I am a software engineer in Adelaide, South Australia. My interests include computer graphics, data visualisation, system design and software architecture. I enjoy the art of abstraction in programming, which extends through my interests. I like abstracting complex details to produce clean and useful APIs, UIs and visualisations. I hope to produce these to support new and difficult challenges, and to just make cool stuff.<br><br>

                I began programming when I was 14 and made a couple iOS games during high school. I went on to study a Bachelors in Computer Science at the University of Adelaide, which I completed in 2019. I am currently studying an Honours degree which I plan to complete at the end of 2021. Throughout my studies, I have conducted research in CPU micro-architectural side-channel attacks. I currently work on computer graphics in CAD applications for geology and mine planning. In my leisure time, I enjoy video games, cycling, learning German and speedcubing.
            </p>
            <br><img class="content-image" src="/about/dmcneil.jpg"><br><br>
            <p>
                This website is a collection of my projects and things I am working on. Check out the <a href="/projects/index.html">projects</a> page for all of them.
            </p>
            <p>
                Email: <a href="mailto:dallas@dallasmcneil.com">dallas@dallasmcneil.com</a><br>
                Github: <a href="https://github.com/dallasmcneil" class="aboutLink">github.com/dallasmcneil</a><br>
                Linkedin: <a href="https://www.linkedin.com/in/dallas-mcneil-369041184/">here</a><br>
                Twitter: <a href="https://twitter.com/dmcneil_" class="aboutLink">@dmcneil_</a><br>
                WCA ID (Cubing info): <a href="https://www.worldcubeassociation.org/results/p.php?i=2017MCNE01">2017MCNE01</a>
            </p>
            <p><b>CV available upon request.</b></p>
        </div>
    </div>
</div>

{% include footer.html %}

</body>
</html>
