---
title: Block Keeper
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    
{% include header.html %}

{% include mainImage.html image="/images/headings/blockkeeper.jpeg" logo="/images/logo/block-keeper-1024.png" text="Block Keeper" %}

<div class="container shadow">
    <div class="row">
        <div class="col-12 content">
            <h3>Block Keeper is a cross platform desktop cubing timer. Block Keeper provides an event based session system with an elegant interface to provide relevant statistics and tools for speedcubing.</h3>
            <br>
            <h3>Main Features:</h3>
            <ul>
            <li>Cross platform support, Windows, MacOS and Linux</li>
            <li>Completely offline and no Java required</li>
            <li>Customizable event based session organization</li>
            <li>Simple and stylish interface with multiple themes</li>
            <li>Official TNoodle scrambles for all WCA events and more</li>
            <li>WCA inspection support with voice announcements</li>
            <li>Blind and one handed event accommodations</li>
            <li>Event and session results graphs</li>
            <li>Video recorder to view and save last solve</li>
            <li>Stackmat support</li>
            <li>Session import and export</li>
            </ul>
            <br>

            <img class="content-image" src="/projects/blockkeeper/images/blockkeeper.gif">
            <br>

            <br><h1>Downloads</h1><br>

            <h3>Block Keeper 2.2.0</h3>

            <p>Windows 7 or higher</p>
            <ul>
                <li><a href="https://github.com/DallasMcNeil/Block-Keeper/releases/download/v2.2.0/Block-Keeper-Setup.exe">Download</a></li>
            </ul>
            <p>MacOS 10.9+</p>
            <ul>
                <li><a href="https://github.com/DallasMcNeil/Block-Keeper/releases/download/v2.2.0/Block-Keeper.dmg">Download</a></li>
            </ul>
            <p>Linux</p>
            <ul>
                <li><a href="https://github.com/DallasMcNeil/Block-Keeper/releases/download/v2.2.0/blockkeeper-i386.AppImage">Download 32 bit</a></li>
                <li><a href="https://github.com/DallasMcNeil/Block-Keeper/releases/download/v2.2.0/blockkeeper-x86_64.AppImage">Download 64 bit</a></li>
                <li><a href="https://github.com/DallasMcNeil/Block-Keeper/releases/download/v2.2.0/blockkeeper-armv7l.AppImage">Download ARM</a></li>
            </ul>
            <br>
            <h3>A user guide for Block Keeper is available <a href="/projects/blockkeeper/guide/index.html">here</a>.</h3>       
        </div>
    </div>
</div>

{% include footer.html %}

</body>
</html>
